.popwarp {
    width: 1000px;
    height: 1000px;
 }
 .pop {
     width: 400px;
     height: 320px;
    margin: 10px; 
 }
 .ph {
     padding: 15px 15px;
     background-color: rgb(36, 36, 36);
     color: white;
     font-size: 14px;
     font-weight: bold;
 }
 .psd1 {
    margin-top: 30px;
    font-size: 13px;
 }
 .pbox { 
    padding: 20px;
    background-color: rgb(245, 244, 240);
    border-radius: 3px;
    font-size: 12px;
}
.popname {
    height: 20px;
}
.popid {
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
}
.popemail {
    width: 225px;
    height: 20px;
    margin-top: 5px;
}
 .psd2 {
     text-align: center;
     margin-top: 2px;
 }
 .pf {
     text-align: right;
     margin-top: 10px;
     padding: 3px;
     background-color: #ebebeb;
 }
 .popbtn {
     border: none;
     background-color: transparent;
 }